body {
  background-color: #A88ECD;
  background-image: -webkit-linear-gradient(#A88ECD, #8E68C5);
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
	margin: 1em;
	border: 1px solid #FFEE5B;
}
