body {
  background-color: #000;
  padding: 50px;
  font: 14px "Open Sans", sans-serif;
  color: #fff;
}

a {
  color: #00B7FF;
}

img {
	margin: 1em;
	border: 1px solid #FFEE5B;
}

h1 {
	color: #fff;
}

ul {
	list-style-type: none;
}


.hidden {
	display: none;
}