extends layout.jade

block content
	#main-title
		h1 Welcome to WikiGuesser

	.description
		h2 Guess which random Wikipedia article the image came from

	.feature-list
		span
			a(class="feature" href="../random") Get started