<style>

	body {
	  background-color: #A88ECD;
	  background-image: -webkit-linear-gradient(#A88ECD, #4A1E8A);
	  padding: 50px;
	  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	}

	a {
	  color: #FFEE5B;
	}

	img {
		margin: 1em;
		border: 1em solid #FFEE5B;
	}

	.main-title {
		text-align: center;

	}

	.feature {
		list-style-type: none;
		vertical-align: middle;
	}

	.feature-list {
		border-radius: 20%;
		background-color: #3DA6E4;
		vertical-align: middle;
		text-align: center;
		width: 5em;
		height: 5em;
		line-height: 5em;
	}

	.feature-list span {
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
	}

</style>


<div class='main-title'>
	<h1>Welcome to WikiGuesser!</h1>
</div>

<h2 class='sub-title'>Guess which random Wikipedia article the image came from!</h2>


<div class='feature-list'>
	<span>
		<a class='feature' href="../random">Get started!</a>
	</span>
</div>	